<div class="login-page">
  <div class="form">
    <%= form_for :session, class: "login-form" do |f| %>
      <%= f.email_field :email, placeholder: "メールを入力してください。" %>
      <%= f.password_field :password, placeholder: "パスワードを入力してください。" %>
      <%= f.submit "アカウントを作成する" %>
      <p class="message">アカウントがない場合は <a href="#">アカウントを作成する</a></p>
    <% end %>
  </div>
</div>
